nav.navbar.navbar-default.navbar-static-top
    .container
        .navbar-header
            a.navbar-brand(href='/') Moderator

        ul.nav.navbar-nav.navbar-right
            li
                a(href='/learning') Обучение
            li
                if user
                    a(href='/home') Hello, #{user}
                else
                    a(href='/auth/google') Sign in
