extends ./partials/layout

block title
    title Room

block header
    include ./partials/navbar

block main
    section
        .container
            h3 Your API key – #{key}

            .row
                .col-md-6
                    form#check_form
                        .form-group
                            label(for='content_input') Content
                            textarea.form-control#content_input
                        .form-group
                            label(for='key_input') API Key
                            input.form-control#key_input(value=key)
                        button.btn.btn-default(type='submit') Check
                .col-md-6
                    .panel.panel-default
                        .panel-heading Result
                        .panel-body#result_container


block scripts
    script(src='/static/lib/fetch/fetch.js')
    script.

        var submitForm = document.getElementById('check_form');

        submitForm.onsubmit = function (e) {
            e.preventDefault();

            var data = {
                content: document.getElementById('content_input').value,
                key: document.getElementById('key_input').value
            };

            fetch('/api/execute', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                    .then(status)
                    .then(json)
                    .then(function (result) {
                        document.getElementById('result_container').innerHTML = '<p>' + result.result + '</p>';
                    })
                    .catch(function (err) {
                        document.getElementById('result_container').innerHTML = '<p class="text-warning">' + err.message + '</p>';
                    });
        };

        function status(response) {
            if (response.status >= 200 && response.status < 300) {
                return Promise.resolve(response);
            } else {
                return Promise.reject(new Error(response.statusText));
            }
        }


        function json(response) {
            return response.json();
        }
