extends ./partials/layout

block header
    include ./partials/navbar

block main
    section
        .container
            h3 Your API key – #{key}

            .row
                .col-s-4
                    form#check_form
                        .form-group
                            label(for='content_input') Place your content
                            textarea#content_input
                        .form-group
                            label(for='key_input') Place your API Key
                            input#key_input
                        button.btn.btn-default(type='submit') Check

block scripts
    script.

        var submitForm = document.getElementById('check_form');

        submitForm.onsubmit = function () {
            var data = {
                content: document.getElementById('content_input').value,
                key: document.getElementById('key_input').value
            };

            fetch('/api/execute', {
                method: 'POST',
                body: data
            })
                    .then(function (response) {
                        return response.json()
                    })
                    .then(function (json) {

                    });
        };
