extends ./partials/layout
block title
    title Learning
block header
    include ./partials/navbar
block main
    section
        .container
            form#phrase_form
                .row
                    .col-md-6
                        .form-group
                            label(for='phrase') Поисковая фраза
                            input.form-control#phrase(type='text')
                    .col-md-6
                        .form-group
                            label(for='subject') Subject
                            input.form-control#subject(type='text')
                        button.btn.btn-primary Submit

block scripts
    script.
        var queryForm = document.getElementById('phrase_form');
        var phrase = document.getElementById('phrase');
        var subject = document.getElementById('subject');

        queryForm.onsubmit = function (e) {
            e.preventDefault();

            var item = {
                content: phrase.value,
                subject: subject.value
            }

            fetch('/api/phrases', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({phrase: item})
            })
                    .then(status)
                    .then(json)
                    .then(function (result) {

                    })
                    .catch(function (err) {

                    });
        };

        function status(response) {
            if (response.status >= 200 && response.status < 300) {
                return Promise.resolve(response);
            } else {
                return Promise.reject(new Error(response.statusText));
            }
        }


        function json(response) {
            return response.json();
        }